/DirectedRelationshipImpl.java
/ElementImpl.java
/EntityImpl.java
/MegaModelImpl.java
/MetaMetaModelImpl.java
/MetaModelImpl.java
/ModelImpl.java
/ModelingFactoryImpl.java
/ModelingPackageImpl.java
/ReferenceModelImpl.java
/RelationshipImpl.java
/TerminalModelImpl.java
/TransformationImpl.java
/TransformationModelImpl.java
/TransformationRecordImpl.java
/WeavingModelImpl.java
