/Annotation.java
/AnnotationField.java
/Classifier.java
/ClassifierKind.java
/ClasspathEntry.java
/ClasspathEntryKind.java
/CodeFactory.java
/CodePackage.java
/Component.java
/Constructor.java
/Environment.java
/Field.java
/GenericResource.java
/Operation.java
/Parameter.java
/PrimitiveType.java
/ProvidedService.java
/ReferencedService.java
/Resource.java
/ResourceKind.java
/ResourcesContainer.java
/Type.java
/TypesContainer.java
/VisibilityKind.java
