/DirectedRelationship.java
/Element.java
/Entity.java
/MegaModel.java
/MetaMetaModel.java
/MetaModel.java
/Model.java
/ModelingFactory.java
/ModelingPackage.java
/ReferenceModel.java
/Relationship.java
/TerminalModel.java
/Transformation.java
/TransformationModel.java
/TransformationRecord.java
/WeavingModel.java
