/AnnotationFieldImpl.java
/AnnotationImpl.java
/ClassifierImpl.java
/ClasspathEntryImpl.java
/CodeFactoryImpl.java
/CodePackageImpl.java
/ComponentImpl.java
/ConstructorImpl.java
/EnvironmentImpl.java
/FieldImpl.java
/GenericResourceImpl.java
/OperationImpl.java
/ParameterImpl.java
/PrimitiveTypeImpl.java
/ProvidedServiceImpl.java
/ReferencedServiceImpl.java
/ResourceImpl.java
/ResourcesContainerImpl.java
/TypeImpl.java
/TypesContainerImpl.java
